<% if flash[:notice].present? %>
  <div class="error">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="form_container">
  <%= form_with(model: list, local: true) do |form| %>
    <div class="input-title">
      <%= form.text_field :title , id: "list_title", placeholder: "Add new list"%>
    </div>
    <div>
      <%= form.submit "Enviar", style: "display: none;" %>
    </div>
  <% end %>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const taskTitleInput = document.getElementById('list_title');
      const submitButton = document.getElementById('submit_button');


      function updateSubmitButton() {
        submitButton.disabled = taskTitleInput.value.trim() === '';
      }

      updateSubmitButton();

      taskTitleInput.addEventListener('input', updateSubmitButton);
    });
  </script>
  
</div>
