<<<<<<< Updated upstream
<div style="color: #9E78CF;">
=======
<div class="change_list">
>>>>>>> Stashed changes
  <p>
    <strong>Title:</strong>
    <%= list.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= list.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= list.category %>
  </p>

</div>
