<div class="content content_form">

  <h1>Editing list</h1>

  <%= render "form", list: @list %>

  <br>
  
  <div>
    <%= link_to "Back", root_path(view: params[:view]), class: "back_home"%>
  </div>

</div>
</div>