<div class="navigation-section">
  <!-- username -->
  <div class="user-content">
    <div class="logo">
      <p>J</p>
    </div>
    <div class="name">
      <p>Jamerson Carlos</p>
    </div>
  </div>
  <!-- Form List Create-->
  <%= render "form", list: @list %>
  <!-- view lists -->
  <%= render 'view_lists' %>  
</div>

<div class="tasks-container <%= 'background_image' if @list_selected.id.nil? %>" >
  <% if !@list_selected.id.nil? %>
    <%= render template: 'tasks/index' %>
  <% else %>
    <h1>Organize seu dia, conquiste seus objetivos!</h1>
  <% end %>
</div>

